/* Adding font Family............. */

@font-face {
  font-family: 'Akkurat';
  src: url('./fonts/Akkurat.ttf');
}

@font-face {
  font-family: 'DIN Next Medium';
  src: url('./fonts/DIN\ Next\ LT\ Pro\ Medium.ttf');
}
@font-face {
  font-family: 'Typewriter Sans';
  src: url('./fonts/Typewriter\ Sans.ttf');
}

/* Importing google fonts........... */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&family=Labrada:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poltawski+Nowy:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Wix+Madefor+Text:wght@500&display=swap');

/* Reseting the CSS........... */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

/* setting up Some variables.......... */
:root {
  --fs-size-pc: 17px;
  --fs-color: white;
  --fs-color-hover: rgb(238, 180, 38);
  --bg-color-main: rgb(34, 34, 34);
  --fs-main-tag: 40px;
  --fs-intro-tag: 20px;
  --fs-name-tag: 25px;
  --fs-quote-tag: 30px;
  --font-light-color: rgb(34, 34, 34);
}

/* Styling Navabar.... */
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  background-color: rgb(244, 238, 229);
}

.navbar .logo {
  position: absolute;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon i {
  padding: 15px;
  color: rgb(51, 50, 50);
  font-size: 40px;
}

/* Styling Tag header........... */
.tags {
  width: 100%;
  background-color: var(--bg-color-main);
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tags .taglist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags .taglist .list-item {
  list-style: none;
}

.taglist .list-item a {
  color: var(--fs-color);
  font-size: var(--fs-size-pc);
  font-family: DIN Next Medium;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 25px 45px;
}

/* Adding Hover effects........... */
.taglist .list-item a:hover {
  color: var(--fs-color-hover);
}

/* Styling Quiz button in Tag header............ */
.quiz {
  font-family: Akkurat;
  color: var(--fs-color);
  color: var(--fs-color);
  font-size: var(--fs-size-pc);
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Adding Hover effects........... */
.quiz:hover {
  color: var(--fs-color-hover);
}

.quiz .quiz-rraow {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: none;
  border-top: 2px solid var(--fs-color);
  border-right: 2px solid var(--fs-color);
  transform: rotate(45deg);
  transition: all 300ms;
  animation: quiz-arrow 1000ms infinite;
}

/* Adding Hover effects........... */
.quiz .quiz-rraow:hover {
  border-top: 2px solid var(--fs-color-hover);
  border-right: 2px solid var(--fs-color-hover);
}

/* Adding Animation to the quiz tag......... */
@keyframes quiz-arrow {
  0% {
  }

  100% {
    transform: translateX(15px) rotate(45deg);
  }
}

/* Styling The Landing Page.............. */
.landing-page {
  width: 100%;
  height: 500px;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

/* Styling the left part of Landing Page.............. */
.left {
  background-color: rgb(212, 161, 166);
  display: flex;
  align-items: left;
  padding: 10%;
  justify-content: center;
  flex-direction: column;
}

.left .tagline {
  margin: 8px 0;
  font-size: 48px;
  line-height: 56px;
  font-family: Typewriter Sans;
  font-weight: 100;
  text-transform: uppercase;
}

.left .mini-intro {
  margin: 8px 0;
  font-family: Akkurat;
  font-size: var(--fs-size-pc);
  color: black;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 400;
}

.button {
  width: 50%;
  margin: 8px 0;
  color: var(--fs-color);
  font-size: var(--fs-size-pc);
  font-family: DIN Next Medium;
  font-weight: 400;
  padding: 13px 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color-main);
  border: 1px solid transparent;
  letter-spacing: 1px;
  border-radius: 5px;
}

/* Adding the hover effect.......... */
.button:hover {
  color: var(--bg-color-main);
  background-color: var(--fs-color);
  border: 1px solid black;
}

/* Styling the left part of Landing Page.............. */
.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styling The Subscription Page.............. */
.subscription-page {
  width: 100%;
  background-color: rgb(169, 201, 225);
  padding: 45px 0;
  color: var(--font-light-color);
}

.sub-tag {
  font-size: var(--fs-main-tag);
  font-family: Typewriter Sans;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 15px 0;
}

.sub-intro {
  font-family: Akkurat;
  font-weight: 400;
  margin: 20px 0;
  font-size: var(--fs-intro-tag);
  letter-spacing: 1px;
}
/* Styling The Subscription Page sub boxes.............. */
.sub-boxes {
  width: 100%;
  padding: 5px;
  margin-top: 30px;
  align-items: start;
}

.sub-boxes .box {
  width: 33%;
  padding: 20px;
}

.box .image-div {
  width: 100%;
  height: 50%;
}

.image-div img {
  width: 100%;
  object-fit: contain;
}

.box .box-name {
  margin: 15px 0;
  font-size: var(--fs-name-tag);
  font-weight: 100;
  letter-spacing: -1px;
}

.box .box-tag {
  font-family: Akkurat;
}

.box .button {
  width: 60%;
  padding: 15px 0;
  margin-top: 38px;
  font-size: 15px;
}

/* Styling The Quote Section.............. */

.quote-section {
  width: 100%;
  padding: 45px 0;
}

.quote-mark {
  font-family: Akkurat;
  font-size: 55px;
}
.quote {
  width: 50%;
  font-size: var(--fs-quote-tag);
  text-align: center;
  padding: 25px;
  font-family: Akkurat;
  font-family: 200;
  color: var(--font-light-color);
}
.author-name,
.company-tag {
  color: var(--font-light-color);
  font-size: var(--fs-intro-tag);
  font-family: DIN Next Medium;
  font-family: 200;
}
.author-name {
  margin-top: 45px;
}
.company {
  width: 80%;
  margin-top: 35px;
  padding: 15px 0;
  border-bottom: 2px dashed black;
  overflow: hidden;
}
.company div {
  margin: 0 5px;
  padding: 25px;
}
.company-div img {
  opacity: 0.4;
  width: 100%;
  object-fit: contain;
  transition: all 0.5;
}
.current-quote img {
  opacity: 1;
}
.shownumber {
  margin: 40px;
}
.shownumber span ,
.shownumber div {
  font-size: 35px;
  font-family: Typewriter Sans;
  font-weight: 100;
}
.left-arraow,
.right-arraow {
  width: 45px;
  height: 45px;

}
.left-arraow div,
.right-arraow div{
  border-top: 3px solid black;
  border-right: 3px solid black;
  width: 20px;
  height: 20px;
}
.left-arraow:hover,
.right-arraow:hover {
  opacity: 0.5;
  background-color: rgb(193, 189, 189);
}
.left-arraow div{
  transform: rotate(225deg);
}
.right-arraow div{
  transform: rotate(45deg);
}
.quote-location {
  padding: 0 20px;
}

/* Styling The Blend Breakdown Section.............. */

.blend-breakdown{
  width: 100%;
  background-color: rgb(169, 201, 225);
  padding: 3%;
}
.blend-left{
  width: 50%;
}
.blend-left img{
  width: 100%;
  object-fit: cover;
}
/* Utilize classes */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-c-alf {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
